@{
    ViewData["Title"] = "Anasayfa";
    Layout = null; // Varsayılan layout dosyası buraya göre ayarlanmalı
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transportio - To every direction</title>

    <!--
      - favicon
    -->
    <link rel="shortcut icon" href="~/web/favicon.svg" type="image/svg+xml">

    <!--
      - custom css link
    -->
    <link rel="stylesheet" href="~/web/assets/css/style.css">
    <!--
      - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Rubik:wght@400;500;600;700&display=swap"
          rel="stylesheet">
    <link href="~/web/assets/css/style.css" rel="stylesheet" />
    <!--
      - preload images
    -->
</head>

<body id="top">

    <!--
      - #HEADER
    -->

    <header class="header" data-header>
        <div class="container">

            <h1>
                <a href="#" class="logo">Transportio</a>
            </h1>

            <nav class="navbar" data-navbar>

                <div class="navbar-top">
                    <a href="#" class="logo">Transportio</a>

                    <button class="nav-close-btn" aria-label="Clsoe menu" data-nav-toggler>
                        <ion-icon name="close-outline"></ion-icon>
                    </button>
                </div>

                <ul class="navbar-list">

                    <li class="navbar-item">
                        <a href="#home" class="navbar-link" data-nav-link>
                            <span>Anasayfa</span>

                            <ion-icon name="chevron-forward"></ion-icon>
                        </a>
                    </li>

                    <li class="navbar-item">
                        <a href="#about" class="navbar-link" data-nav-link>
                            <span>Hakkımızda</span>

                            <ion-icon name="chevron-forward"></ion-icon>
                        </a>
                    </li>

                    <li class="navbar-item">
                        <a href="#service" class="navbar-link" data-nav-link>
                            <span>Servisler</span>

                            <ion-icon name="chevron-forward"></ion-icon>
                        </a>
                    </li>

                    <li class="navbar-item">
                        <a href="#blog" class="navbar-link" data-nav-link>
                            <span>Blog</span>

                            <ion-icon name="chevron-forward"></ion-icon>
                        </a>
                    </li>

                    <li class="navbar-item">
                        <a href="@Url.Action("Login", "UserAccount")" class="navbar-link" data-nav-link>
                            <span>Kullanıcı Girişi</span>

                            <ion-icon name="chevron-forward"></ion-icon>
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a href="@Url.Action("Login", "AdminAccount")" class="navbar-link" data-nav-link>
                            <span>Yönetici Girişi</span>

                            <ion-icon name="chevron-forward"></ion-icon>
                        </a>
                    </li>

                </ul>

            </nav>

            <div class="header-contact">

                <div>
                    <p class="contact-label">Türkiye içi Ücretsiz Arayın</p>

                    <a href="tel:12345678910" class="contact-number">1 234 567 8910</a>
                </div>

                <div class="contact-icon">
                    <ion-icon name="call-outline"></ion-icon>
                </div>

            </div>

            <button class="nav-open-btn" aria-label="Open menu" data-nav-toggler>
                <ion-icon name="menu-outline"></ion-icon>
            </button>

            <div class="overlay" data-nav-toggler data-overlay></div>

        </div>
    </header>





    <main>
        <article>

            <!--
              - #HERO
            -->

            <section class="section hero" aria-label="home"">

                <div class="container">

                    <div class="hero-content">

                        <h2 class="h1 hero-title">
                            <span class="span">Her Yöne</span> Ulaşım
                        </h2>

                        <p class="hero-text">
                            Her çeşitten yük taşımacılığı
                        </p>

                        <a href="#" class="btn-outline">View Services</a>


                        <img width="116" height="116" loading="lazy"
                             class="hero-shape shape-2">


                        <img width="116" height="116" loading="lazy"
                             class="hero-shape shape-1">

                    </div>

                </div>
            </section>





         

        </article>
    </main>





    <!--
      - #FOOTER
    -->

    <footer class="footer">
        <div class="container">

            <div class="footer-top section">

                <div class="footer-brand">

                    <a href="#" class="logo">Transportio</a>

                    <p class="footer-text">
                        Many desktop publishing packages and web page editors now use are dolra Ipsum as their default.
                    </p>

                    <ul class="social-list">

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-instagram"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-youtube"></ion-icon>
                            </a>
                        </li>

                    </ul>

                </div>

                <ul class="footer-list">

                    <li>
                        <p class="footer-list-title">Quick Links</p>
                    </li>

                    <li>
                        <a href="#" class="footer-link">About</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Services</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Blog</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">FAQ</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Contact Us</a>
                    </li>

                </ul>

                <ul class="footer-list">

                    <li>
                        <p class="footer-list-title">Services</p>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Warehouse</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Air Freight</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Ocean Freight</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Road Freight</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Packaging</a>
                    </li>

                </ul>

                <ul class="footer-list">

                    <li>
                        <p class="footer-list-title">Community</p>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Business Consulting</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Testimonials</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Track Your Shipment</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Privacy Policy</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Terms & Condition</a>
                    </li>

                </ul>

            </div>

            <div class="footer-bottom">
                <p class="copyright">
                    &copy; @DateTime.Now.Year Transportio. All Rights Reserved by <a href="#" class="copyright-link">codewithsadee</a>
                </p>
            </div>

        </div>
    </footer>





    <!--
      - #BACK TO TOP
    -->

    <a href="#top" class="back-top-btn" aria-label="Back to top" data-back-top-btn>
        <ion-icon name="chevron-up"></ion-icon>
    </a>





    <!--
      - custom js link
    -->
    <script src="~/web/assets/js/script.js" defer></script>

    <!--
      - ionicon link
    -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>